contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 2.1.22
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: "This playbook retrieves forensics from hosts.\nThe available integration:\n-
  Illusive networks. "
id: Get host forensics - Generic
inputs:
- description: 'If using the illusive integration to retrieve additional forensics,
    provide fqdn_or_ip of the host from which to get the forensics. '
  key: fqdn_or_ip
  playbookInputQuery: null
  required: false
  value: {}
- description: 'Date_range must be "number date_range_unit", examples: (2 hours, 4
    minutes,6 months, 1 day, etc.).'
  key: start_date
  playbookInputQuery: null
  required: false
  value: {}
- description: 'Date_range must be "number date_range_unit", examples: (2 hours, 4
    minutes,6 months, 1 day, etc.).'
  key: end_date
  playbookInputQuery: null
  required: false
  value: {}
name: Get host forensics - Generic
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f20f2deb-51b2-43bc-8c19-ea19d795c1ce
      iscommand: false
      name: ""
      version: -1
    taskid: f20f2deb-51b2-43bc-8c19-ea19d795c1ce
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "3"
      "yes":
      - "4"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: IllusiveNetworks
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'.
      id: 44e2bef7-db14-418e-8899-05b87ce087c1
      iscommand: false
      name: Is illusive enabled
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 44e2bef7-db14-418e-8899-05b87ce087c1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 190
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a407e17a-7005-4b1a-87c0-00e1e1c2cae2
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: a407e17a-7005-4b1a-87c0-00e1e1c2cae2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 670
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      end_date:
        simple: ${inputs.end_date}
      fqdn_or_ip:
        simple: ${inputs.fqdn_or_ip}
      start_date:
        simple: ${inputs.start_date}
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: 4e87acfb-c838-448f-8c35-a81c306b37bf
      iscommand: false
      name: Illusive-Collect-Forensics-On-Demand
      playbookName: Illusive-Collect-Forensics-On-Demand
      type: playbook
      version: -1
    taskid: 4e87acfb-c838-448f-8c35-a81c306b37bf
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 720,
          "y": 390
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "2_3_no": 0.47
    },
    "paper": {
      "dimensions": {
        "height": 685,
        "width": 650,
        "x": 450,
        "y": 50
      }
    }
  }
