contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.2.10
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: This playbook will block emails at your mail relay integration.
id: Block Email - Generic
inputs:
- description: The email address that will be blocked.
  key: EmailToBlock
  playbookInputQuery: null
  required: false
  value: {}
name: Block Email - Generic
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e4cf2a65-fab2-48c9-8d52-479632660700
      iscommand: false
      name: ""
      version: -1
    taskid: e4cf2a65-fab2-48c9-8d52-479632660700
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 80
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 335f96a3-ea62-4a3f-8808-873c57caa695
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 335f96a3-ea62-4a3f-8808-873c57caa695
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 440
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      EmailToBlock:
        simple: ${inputs.EmailToBlock}
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: b30d383c-cdfb-4200-8ed6-cb7ab5b00a1c
      iscommand: false
      name: Symantec block Email
      playbookName: Symantec block Email
      type: playbook
      version: -1
    taskid: b30d383c-cdfb-4200-8ed6-cb7ab5b00a1c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": 250
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 425,
        "width": 380,
        "x": 450,
        "y": 80
      }
    }
  }
